<a href="https://colab.research.google.com/github/fairuznajla/PythonProject/blob/main/Analysing%20Data%20with%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

### Mengimport File Data

In [ ]:
data_uncleaned = pd.read_csv('Data_Uncleaned.csv')
data_uncleaned

,movie_title,duration,DIRECTOR_facebook_likes
0,Avatar?ÿ,178.0,10
1,Pirates of the Caribbean: At World's End?ÿ,NaN,563
2,Spectre?ÿ,148.0,20
3,The Dark Knight Rises?ÿ,NaN,22000
4,John Carter?ÿ,132.0,"""475"""
5,Spider-Man 3?ÿ,156.0,23
6,Tangled?ÿ,NaN,15
7,Avengers: Age of Ultron?ÿ,141.0,10
8,Avengers: Age of Ultron?ÿ,141.0,10
9,Harry Potter and the Half-Blood Prince?ÿ,153.0,282
10,Batman v Superman: Dawn of Justice?ÿ,183.0,NaN
11,Superman Returns?ÿ,169.0,NaN
12,Quantum of Solace?ÿ,106.0,395
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,151.0,563

### Menampilkan nilai statistik

In [ ]:
data_uncleaned.describe()

         duration
count   11.000000
mean   150.727273
std     21.679903
min    106.000000
25%    141.000000
50%    151.000000
75%    162.500000
max    183.000000

### Jumlah nilai missing pada setiap kolom

In [ ]:
data_uncleaned.isna().sum()

movie_title                0
duration                   3
DIRECTOR_facebook_likes    2
dtype: int64

### Mengisi nilai missing dengan value angka 0

In [ ]:
data_uncleaned.fillna(0,inplace=True)
data_uncleaned

,movie_title,duration,DIRECTOR_facebook_likes
0,Avatar?ÿ,178.0,10
1,Pirates of the Caribbean: At World's End?ÿ,0.0,563
2,Spectre?ÿ,148.0,20
3,The Dark Knight Rises?ÿ,0.0,22000
4,John Carter?ÿ,132.0,"""475"""
5,Spider-Man 3?ÿ,156.0,23
6,Tangled?ÿ,0.0,15
7,Avengers: Age of Ultron?ÿ,141.0,10
8,Avengers: Age of Ultron?ÿ,141.0,10
9,Harry Potter and the Half-Blood Prince?ÿ,153.0,282
10,Batman v Superman: Dawn of Justice?ÿ,183.0,0
11,Superman Returns?ÿ,169.0,0
12,Quantum of Solace?ÿ,106.0,395
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,151.0,563

### Menghapus nilai duplikat

In [ ]:
data_uncleaned.drop_duplicates(inplace=True)
data_uncleaned

,movie_title,duration,DIRECTOR_facebook_likes
0,Avatar?ÿ,178.0,10
1,Pirates of the Caribbean: At World's End?ÿ,0.0,563
2,Spectre?ÿ,148.0,20
3,The Dark Knight Rises?ÿ,0.0,22000
4,John Carter?ÿ,132.0,"""475"""
5,Spider-Man 3?ÿ,156.0,23
6,Tangled?ÿ,0.0,15
7,Avengers: Age of Ultron?ÿ,141.0,10
9,Harry Potter and the Half-Blood Prince?ÿ,153.0,282
10,Batman v Superman: Dawn of Justice?ÿ,183.0,0
11,Superman Returns?ÿ,169.0,0
12,Quantum of Solace?ÿ,106.0,395
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,151.0,563

### Mengubah semua nama kolom menjadi uppercase

In [ ]:
data_uncleaned.columns = data_uncleaned.columns.str.upper()
data_uncleaned

,MOVIE_TITLE,DURATION,DIRECTOR_FACEBOOK_LIKES
0,Avatar?ÿ,178.0,10
1,Pirates of the Caribbean: At World's End?ÿ,0.0,563
2,Spectre?ÿ,148.0,20
3,The Dark Knight Rises?ÿ,0.0,22000
4,John Carter?ÿ,132.0,"""475"""
5,Spider-Man 3?ÿ,156.0,23
6,Tangled?ÿ,0.0,15
7,Avengers: Age of Ultron?ÿ,141.0,10
9,Harry Potter and the Half-Blood Prince?ÿ,153.0,282
10,Batman v Superman: Dawn of Justice?ÿ,183.0,0
11,Superman Returns?ÿ,169.0,0
12,Quantum of Solace?ÿ,106.0,395
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,151.0,563

In [ ]:
# identifikasi kolom data yang tidak konsisten nilai datanya
# ubah sesuai type data kolom

In [ ]:
# mengubah nilai data tidak konsisten
# pada kolom DIRECTOR_FACEBOOK_LIKES menjadi integer

data_uncleaned.at[4,'DIRECTOR_FACEBOOK_LIKES'] = 475
data_uncleaned

,MOVIE_TITLE,DURATION,DIRECTOR_FACEBOOK_LIKES
0,Avatar?ÿ,178.0,10
1,Pirates of the Caribbean: At World's End?ÿ,0.0,563
2,Spectre?ÿ,148.0,20
3,The Dark Knight Rises?ÿ,0.0,22000
4,John Carter?ÿ,132.0,475
5,Spider-Man 3?ÿ,156.0,23
6,Tangled?ÿ,0.0,15
7,Avengers: Age of Ultron?ÿ,141.0,10
9,Harry Potter and the Half-Blood Prince?ÿ,153.0,282
10,Batman v Superman: Dawn of Justice?ÿ,183.0,0
11,Superman Returns?ÿ,169.0,0
12,Quantum of Solace?ÿ,106.0,395
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,151.0,563

In [ ]:
# mengubah type data kolom DIRECTOR_FACEBOOK_LIKES menjadi integer

data_uncleaned['DIRECTOR_FACEBOOK_LIKES'] = data_uncleaned[
    'DIRECTOR_FACEBOOK_LIKES'].astype(int)

In [ ]:
# mengubah type data kolom MOVIE_TITLE menjadi string

data_uncleaned['MOVIE_TITLE'] = data_uncleaned[
    'MOVIE_TITLE'].astype(str)

In [ ]:
# menghapus penulisan berulang pada data
# di kolom MOVIE_TITLE

data_uncleaned['MOVIE_TITLE'] = data_uncleaned[
    'MOVIE_TITLE'].str.replace('?ÿ', '')
data_uncleaned

,MOVIE_TITLE,DURATION,DIRECTOR_FACEBOOK_LIKES
0,Avatar,178.0,10
1,Pirates of the Caribbean: At World's End,0.0,563
2,Spectre,148.0,20
3,The Dark Knight Rises,0.0,22000
4,John Carter,132.0,475
5,Spider-Man 3,156.0,23
6,Tangled,0.0,15
7,Avengers: Age of Ultron,141.0,10
9,Harry Potter and the Half-Blood Prince,153.0,282
10,Batman v Superman: Dawn of Justice,183.0,0
11,Superman Returns,169.0,0
12,Quantum of Solace,106.0,395
13,Pirates of the Caribbean: Dead Man's Chest,151.0,563

In [ ]:
data_uncleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, 0 to 13
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   MOVIE_TITLE              13 non-null     object
 1   DURATION                 13 non-null     float64
 2   DIRECTOR_FACEBOOK_LIKES  13 non-null     int32
dtypes: float64(1), int32(1), object(1)
memory usage: 920.0+ bytes